/target/
/build/
/bin/
.gradle/
.metadata/
Servers/
tmp*/
*.log
.settings/
.classpath
.project
*.tmp
*.bak
*.swp

Thumbs.db
.DS_Store

src/main/webapp/images/ngo_documents/*
!src/main/webapp/images/ngo_documents/.gitkeep